# =============================================================================
# Docker Ignore
# =============================================================================

.env
docker-compose.yml
railway.toml
README.md
.git
.gitignore
*.md
node_modules
__pycache__
